body {
    background-color: lightgray;
}

h3 {
    color: navy;
    margin-left: 20px;
    font-family: "Verdana", "Lucida Console", sans-serif;
}

p {
	margin-left: 20px;
    font-family: "Verdana", "Lucida Console", sans-serif;
    font-size: 12px;
}